<!DOCTYPE HTML>
<html>
<head>
    @{
        Html.RenderPartial("~/Views/Shared/_pageHeader.cshtml");
        Layout = null;
    }
    @RenderSection("pageHeaderResources", false)

</head>
<body id="wrapper" class="MenuActive">
    @{Html.RenderAction("_topMenu", "Menu"); }
    @{Html.RenderPartial("~/Views/Menu/_leftMenu.cshtml");}
    <div class="right-content-area">
        <div class="jumbotron bg-white heading-box py-3 mb-2">
            <h1 class="text-primary">
                @RenderSection("PageHeading", true)
                <span style="color:#2d2d2d;font-size:14px">@RenderSection("PageSubHeading", false)</span>
            </h1>
        </div>
        <div class="mx-2 mx-sm-2 mx-xl-3 mx-lg-3 my-3">
            <ol class="breadcrumb bg-gradient">
                @RenderSection("PageBreadCrum", true)
            </ol>
            @RenderBody()
        </div>
        <div style="height:40px; margin-top:20px;"></div>
        <footer class="py-2 px-5">
            <p class="mb-0"><a href="javascript:void(0)">copyright &copy; </a></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    @Scripts.Render("~/Ljs")
    @RenderSection("pageFooterResources", false)
    @if (ViewBag.ErrorBlock != null)
    {
        <script type="text/javascript">
        ErrorBlock('@ViewBag.ErrorBlock');
        </script>
    }
    else if (ViewBag.success != null)
    {
        <script type="text/javascript">
        Success('@ViewBag.Success');
        </script>
    }

</body>

</html>