@model OnlineTestApp.ViewModel.MyAccount.ChangePasswordViewModel
@{
    ViewBag.PageTitle = "Change Password";
    
}
@section PageHeading
 {
    My Account
}
@section PageSubHeading
{
    Change Password
}
@section PageBreadCrum
 {
    <li>My Account</li>
    <li class="active">Change Password</li>
}
<form method="post" id="updateUserPassword" data-clear-form="true" data-post-type='ajax' action="/myaccount/ChangePassword"
      data-success-method="AjaxHitRunSuccessfully">
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body card-box-body">
            <div class="form-group row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                    <label>Old password <i class="fa fa-asterisk"></i></label>
                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                    @Html.PasswordFor(m => m.OldPassword, new { autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                    <label>New password <i class="fa fa-asterisk"></i></label>
                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                    <label>Re-type new password <i class="fa fa-asterisk"></i></label>
                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            
        </div>
    </div>
    <div class="bg-gradient">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <button type="reset" class="btn btn-secondary hideReset">
                    Reset
                    <i class="fa fa-refresh position-right"></i>
                </button>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-right">
                <button class="btn btn-success btn-shadow">Change Password &nbsp; <i class="far fa-save"></i></button>
            </div>
        </div>
    </div>
</form>

