
@model OnlineTestApp.Domain.LookUps.LookUpDomainValues
@{
    string title = "Edit " + Model.LookUpDomain.LookUpDomainDescription;
    ViewBag.PageTitle = title;
    Layout = "~/Views/Shared/MasterPages/SuperAdminPopUpMaster.cshtml";
}

@section PageHeading
{
    @title
}
@section PopUpCloseButton
{
    <button class="close" onclick="window.parent.closeModelPopUpForm(true)">&times;</button>
}

<form method="post" id="editLookUp" data-post-type='ajax' action="/lookup/EditLookUpDomainValue?lookUpDomainValueId=@Model.LookUpDomainValueId" data-success-method="AjaxHitRunSuccessfully">
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body card-box-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Value <i class="fa fa-asterisk"></i></label>
                        @Html.TextAreaFor(m => m.LookUpDomainValueText, new { autofocus = "autofocus", @rows = 5 })

                        @Html.ValidationMessageFor(m => m.LookUpDomainValueText)

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 singlecheckbox">
                    <div class="form-group">
                        <label>Display Order <i class="fa fa-asterisk"></i></label>
                        @Html.TextBoxFor(m => m.DisplayOrder)
                        @Html.ValidationMessageFor(m => m.DisplayOrder)

                    </div>
                </div>
                <div class="col-sm-6 singlecheckbox">
                    <div class="form-group">
                        <label>Is Active </label>
                        <span class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "custom-control-input" })
                            <label class="custom-control-label" for="IsActive"></label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gradient">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">                 

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-right">
                <button type="submit" class="btn btn-info">Update <i class="far fa-save"></i></button>
            </div>
        </div>
    </div>
   

</form>