@model OnlineTestApp.Domain.Candidate.CandidateTestQuestions


<ul class="list-unstyled static-table">
    <li>
        <div class="rTableHead">
            Answers
        </div>

        <div class="rTableHead text-center">
            Candidate Answered
        </div>

        <div class="rTableHead text-center">
            Correct Answer
        </div>
    </li>
    @foreach (var option in @Model.LstCandidateTestQuestionOptions.Where(x => x.IsDeleted == false).OrderBy(x => x.DisplayOrder))
    {
        <li>
            @{
                var labelClass = (option.IsCorrect ? "bg-success" : (option.IsCandidateAnswered ? "bg-danger" : ""));
                var spanClass = (option.IsCorrect ? "fa-check" : (option.IsCandidateAnswered ? "fa-times" : ""));
                <div class="custom-control custom-radio rTableCell">
                    <input type="radio" id="customRadio_@option.FkQuestionId@option.DisplayOrder" name="customRadio_@option.FkQuestionId" class="custom-control-input">

                    <label class="custom-control-label" for="customRadio_@option.FkQuestionId@option.DisplayOrder">@option.QuestionAnswer</label>
                    @*<label class="custom-control-label @labelClass" for="customRadio_@option.FkQuestionId@option.DisplayOrder">@option.QuestionAnswer</label>*@
                    @*<span><i class="fa @spanClass"></i></span>*@
                    @*<div>

                            @if (option.IsCandidateAnswered)
                            {
                                <span>(Candidate answered: <i class="fa fa-check"></i>)</span>
                            }
                            else if (option.IsCorrect)
                            {
                                <span>(Candidate answered: <i class="fa fa-times"></i>)</span>
                            }

                            @if (option.IsCorrect)
                            {
                                <span>(Correct answer: <i class="fa fa-check"></i>)</span>
                            }
                            else if (option.IsCandidateAnswered)
                            {
                                <span>(Correct answer: <i class="fa fa-times"></i>)</span>
                            }
                        </div>*@

                </div>


                <div class="rTableCell text-center">
                    @if (option.IsCandidateAnswered)
                    {
                        if (option.IsCorrect)
                        {
                            <i class="fa fa-check"></i>
                        }
                        else
                        {
                            <i class="fa fa-times"></i>
                        }
                    }
                </div>

                <div class="rTableCell text-center">
                    @if (option.IsCorrect)
                    {
                        <i class="fa fa-check"></i>
                    }
                </div>
            }
        </li>
    }

</ul>

